* {
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont, "Segoe UI", sans-serif
  
}


/* PAGE BACKGROUND */
.login-page {
  min-height: 100vh;
  background: linear-gradient(to right, #74c365, #e8f5e9);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* CARD */
.login-card {
  background: white;
  width: 100%;
  max-width: 420px;
  padding: 35px 30px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  text-align: center;
}

/* TEXT */
.login-card h2 {
  color: #018749;
  margin-bottom: 8px;
}

.login-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
}

/* FORM */
.login-card label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 6px;
  color: #333;
}

.login-card input {
  width: 100%;
  padding: 11px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.login-card input:focus {
  outline: none;
  border-color: #74c365;
}

/* OPTIONS */
.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;
}

.login-options a {
  color: #018749;
  text-decoration: none;
  font-weight: 600;
}

.login-options a:hover {
  text-decoration: underline;
}

.remember {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* BUTTON */
.login-card button {
  width: 100%;
  padding: 12px;
  background: #1DB954;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-card button:hover {
  background: #0d47a1;
}

/* SIGNUP LINK */
.signup-text {
  margin-top: 18px;
  font-size: 14px;
}

.signup-text a {
  color: #018749;
  font-weight: 600;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 480px) {
  .login-card {
    padding: 25px 20px;
  }

  .login-card h2 {
    font-size: 20px;
  }

  .login-options {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
